.blackOps {
    font-family: 'Times New Roman', Times, serif
}

.hidden {
  /*  visibility: hidden; */
}

.disappear {
    display: none;
}
@media screen and (max-width: 540px) {
    h4 {
        font-size: 16px;
    }
}

table {
	display: table;
}
table tr {
	display: table-cell;
}
table tr td {
	display: block;
}